{% extends 'bikes/base.html'%}
{% block title %}About{% endblock title %}
{% block content%}

<div class="container mt-4">
	<h3 class=" alert alert-info text-center">AboutUs</h3>

<div class="jumbotron"> 
	<h5>In this “Bike showroom” project provides Different types of Model bikes with companies for available in showroom for developing the web application this application customer select and book bike administrator can Accept Bike give the conformation about bike And administrator to update data in step- by-step process while selling bike to customer. Using this system management team can update customer’s information, bike information, payment details, and take orders…Etc.</h5>
</div>
</div>

{% endblock %}